* {
    font-family: Arial, Helvetica, sans-serif;
}

#formContainer {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    width: 60%;
}

.input {
    height: 4.5vh;
    border-radius: 5px;
    background: #F6F6F6;
    display: flex;
    align-items: center;

}

.input>input {
    border: none;
    background: #F6F6F6;
    outline: none;
}

#info {
    width: 42vw;
}

#formPage {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
    width: 100vw;
}


#inputContainer {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

#formPage>img {
    height: 90%;
    width: 25%;
}

#beställKnapp {
    display: flex;
    justify-content: flex-end;
}

#beställKnapp button {
    width: 12vw;
    height: 4vw;
    background: #589858;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

main{
    display: flex;
    justify-content: center;
}

.confirmOrder{
    display: flex;
    width: 40vw;
    height: 65vh;
    background-color: #F6F6F6;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#conrirm{
    display: flex;
    align-items: center;
}