.input {
    width: 42vw;
    height: 4.5vh;
    border-radius: 5px;
    background: #F6F6F6;
    display: flex;
    align-items: center;
    
}
.input > input{
    border: none;
    background: #F6F6F6;
}

#formPage {
    display: flex;
    height: 90vh;
    width: 100vw;
    gap: 3vw;
}

#inputContainer {
    display: flex;
    flex-direction: column;
    gap: 5vw;
}



#formPage>img {
    height: 100%;
}