#containerProdukt {
    display: flex;
    flex-direction: column;
    gap: 15vh;
    background-color: #f8faf9;
    justify-content: center;
    width: 90vw;
}

#containerTopProdukt {
    display: flex;
    justify-content: center;
    height: 70vh;
    flex-direction: row;
    gap: 10%;
}

#imgDiv {
    width: 45%;
    height: 100%;
}

#imgDiv>img {
    height: 100%;
    width: 100%;
}

#TopRightDiv {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 5%;
    justify-content: space-evenly;
}

#TopRightDiv>h1 {
    color: #14532d;
    margin: 0;
}

#TopRightDiv>p {
    color: #166534;
    margin: 0;
}

#TopRightDiv>button {
    background-color: #166534;
    color: #f8faf9;
}

#produktFakta {
    display: flex;
    flex-direction: column;
}

#produktFakta>h1 {
    color: #14532d;
}

#faktaContainer {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;
}

#fakta1 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: column;
}

#fakta2 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: column;
}


#containerMidProdukt{
    display: flex;
    width: 90vw;
    gap: 3vw;
 }
 
 #containerMidProdukt h1{
     color: #14532D;
  }
 
 .productImg{
     width: 200px;
     border-radius: 5px;
 }
 .productImages{
     display: flex;
     gap: 1vw;
 }
 .faqItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 15px 0;
    /*border-bottom: 1px solid #e6e6e6;*/
  }
  .faqIcon{
    font-weight: bold;
      font-size: 20px;
      transition: transform 0.3s;
  }
  .faqAnswer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    font-size: 0.95rem;
    color: #333;
    padding-left: 5px;
  }

  .faqItem.active .faqAnswer {
    max-height: 200px;
    padding: 10px 0;
  }

  .faqIcon:active{       
     transform: rotate(45deg);
  }
